.navbar {
    background-color: #00ecad;
    height: 63px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
    margin-top:2px;
  }
  
  .navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight:none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar li a:hover {
    background-color: #6ddbbe;
    margin-top: 0px;
  }
  
  .active {
    background-color: #00ecad;
    color: white;
    margin-left:350px;
  }
.topic{
    background: url(turtlepattern.jpg);
    height:200px;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
    padding-top: 90px;
    color:rgb(0, 52, 116);
    border-radius:5px;
    margin-top:67px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
}

/* Specific Styles */
#about {
  background-color:#9fead6;
  color: #333;
  margin-left: 18%;
  margin-right: 18%;
  border-radius: 5px;
  font-size: larger;

}

#activities {
  background-color:#9fead6;
  color: #333;
  margin-left: 18%;
  margin-right: 18%;
  margin-top:40px;
  border-radius: 5px;
  font-size: larger;
}

#gallery {
  background-color: #9fead6;
  color: #333;
  margin-top:40px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 300px;
  margin: 10px;
  height: 270px;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.image img {
  width: 100%;
  height: auto;
}
.image:hover{
  transform: scale(1.1);
}
h2{
  text-align: center;
  margin-bottom:30px;
  margin-top:-3px;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#00ecad;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media only screen and (max-width: 600px) {
  .image {
    width: 100%;
  }
}